*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'fontGame';
    src: url('./fonts/Pony.ttf');
}
body, html{
    width: 100%;
    height: 100%;
    font-family: fontGame;
}
.btnChoose{
    height: 150px;
    width: 150px;
    border: 3px solid green;
    font-size: 50px;
    background-color: blue;
    color: white;
}
img.img-xucxac{
    width: 80px;
}

@media screen and (max-width: 576px){
    .btnChoose{
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    img.img-xucxac{
        width: 60px;
    }
}
@media screen and (max-width: 520px){
    img.img-xucxac{
        width: 50px;
    }
}